body {
  height: 100%;
  margin: 48px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /*background-image: linear-gradient(rgb(255, 204, 0),rgb(255, 102, 0));*/ /*debug*/
  background-color: #181a1b;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.container-flex::-webkit-scrollbar {
  width: 6px;
}

.container-flex::-webkit-scrollbar-thumb {
  background-color: #282a2bbf;
  border-radius: 3px;
  transition:
    background-color 1s ease,
    fill 1s ease;
}

.container-flex::-webkit-scrollbar-thumb:hover {
  background-color: #313435bf;
}

.container {
  position: fixed;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
}

.container-flex {
  display: flex;
  position: fixed;
  top: 48px;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
}

.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-size: cover;
  filter: brightness(1) blur(10px) saturate(1);
  animation: moveImage 180s infinite alternate;
  transition:
    filter 0.3s ease,
    opacity 0.5s ease;
  opacity: 0;
}

.light-mode .background {
  filter: brightness(2) blur(10px) saturate(0.75);
}

@keyframes moveImage {
  0%,
  100% {
    transform: scale(1.4) translate(30%, 30%);
  }
  25% {
    transform: scale(1.2) translate(-25%, -8%);
  }
  50% {
    transform: scale(1.4) translate(0, 0);
  }
  75% {
    transform: scale(1.2) translate(-8%, 25%);
  }
}

.navbar {
  overflow: hidden;
  background-color: #282a2bbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar a {
  height: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 14px;
  border-radius: 4px;
  margin: 4px;
  font-size: 17px;
  transition: background-color 1s ease;
}

.navbar a.active {
  background-color: #ffffff13;
}

.light-mode .navbar a.active {
  background-color: #00000013;
}

.icon-mobile {
  display: none;
  transition:
    background-color 1s ease,
    color 1s ease;
}

@media screen and (max-width: 360px) {
  .navbar a:not(:first-child) {
    display: none;
    margin: 4px;
  }

  .icon-mobile {
    line-height: 24px;
    width: 28px;
    height: 28px;
    padding: 6px;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .mode-switch {
    right: 44px;
  }
}

.menu {
  width: fit-content;
  background-color: #282a2bbf;
  margin: 16px;
  z-index: 2;
  padding: 16px;
  border-radius: 8px;
  opacity: 0;
  animation:
    slideIn-menu 1s forwards,
    fadeIn 1s forwards;
  align-content: center;
}

a {
  text-decoration: none;
  color: #00a8fc;
}

