body {
  height: 100%;
  margin: 48px 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /*background-image: linear-gradient(rgb(255, 204, 0),rgb(255, 102, 0));*/ /*debug*/
  background-color: #181a1b;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.container-flex::-webkit-scrollbar {
  width: 6px;
}

.container-flex::-webkit-scrollbar-thumb {
  background-color: #282a2bbf;
  border-radius: 3px;
  transition:
    background-color 1s ease,
    fill 1s ease;
}

.container-flex::-webkit-scrollbar-thumb:hover {
  background-color: #313435bf;
}

.container {
  position: fixed;
  top: 48px;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
}

.container-flex {
  display: flex;
  position: fixed;
  top: 48px;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: auto;
  text-align: center;
}

.small-container {
  margin: 12px 16px 16px;
  height: 71px;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-size: cover;
  -webkit-user-select: none;
  user-select: none;
  filter: brightness(1) blur(10px) saturate(1);
  animation: moveImage 180s infinite alternate;
  transition:
    filter 0.3s ease,
    opacity 0.5s ease;
  opacity: 0;
}

.light-mode .background {
  filter: brightness(2) blur(10px) saturate(0.75);
}

@keyframes moveImage {
  0%,
  100% {
    transform: scale(1.4) translate(30%, 30%);
  }
  25% {
    transform: scale(1.2) translate(-25%, -8%);
  }
  50% {
    transform: scale(1.4) translate(0, 0);
  }
  75% {
    transform: scale(1.2) translate(-8%, 25%);
  }
}

.navbar {
  overflow: hidden;
  background-color: #282a2bbf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar a {
  height: 20px;
  float: left;
  color: white;
  text-align: center;
  padding: 10px 14px;
  border-radius: 4px;
  margin: 4px;
  font-size: 17px;
  transition:
    background-color 1s ease,
    color 1s ease;

  &.right {
    float: right;
  }
}

.mode-switch {
  padding: 8px;
  margin: 4px 4px 4px 0;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition:
    background-color 1s ease,
    fill 1s ease;
}

.edit-button {
  cursor: pointer;
  padding: 2px;
  margin: 0 4px;
  border-radius: 3px;
  transition:
    fill 1s ease,
    background-color 1s ease;
}

.mode-switch.active,
.navbar a.active {
  background-color: #ffffff13;
}

.light-mode .mode-switch.active,
.light-mode .navbar a.active {
  background-color: #00000013;
}

.highlighted,
.mode-switch:hover,
.edit-button:hover,
.navbar a:hover,
button:hover,
.menu-button:hover,
.project-item:hover,
.icon-mobile:hover {
  background-color: #ffffff1a;
  transition:
    background-color 0.25s ease,
    fill 1s ease;
}

.light-mode .highlighted,
.light-mode .container-flex::-webkit-scrollbar-thumb:hover,
.light-mode .mode-switch:hover,
.light-mode button:hover,
.light-mode .menu-button:hover,
.light-mode .project-item:hover,
.light-mode .edit-button:hover,
.light-mode .navbar a:hover,
.light-mode .icon-mobile:hover {
  background-color: #0000001a;
  transition:
    background-color 0.25s ease,
    fill 1s ease;
}

.navbar a:not(:first-child) {
  margin: 4px 4px 4px 0;
}

.icon-mobile {
  display: none;
  transition:
    background-color 1s ease,
    color 1s ease;
}

@media screen and (max-width: 360px) {
  .navbar a:not(:first-child) {
    display: none;
    margin: 4px;
  }

  .icon-mobile {
    line-height: 24px;
    width: 28px;
    height: 28px;
    padding: 6px;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .mode-switch {
    position: absolute;
    top: 0;
    right: 44px;
  }
}

.menu-grid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: fit-content;
  background-color: #282a2bbf;
  margin: 16px;
  z-index: 2;
  padding: 25px;
  border-radius: 8px;
  opacity: 0;
  animation:
    slideIn-menu 1s forwards,
    fadeIn 1s forwards;
  align-content: center;
}

.small-menu {
  width: min(100% - 20px, 436px);
  background-color: #282a2bbf;
  margin: 16px;
  z-index: 2;
  padding: 32px 32px 18px;
  border-radius: 8px;
  opacity: 0;
  animation:
    slideIn-menu 1s forwards,
    fadeIn 1s forwards;
  align-content: center;
}

.menu-section {
  min-height: 257px;
  width: calc(100vw - 88px);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.error-banner {
  margin: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: #ff2f2f;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  text-align: left;
  padding: 4px 24px;
}

.modal-menu {
  text-align: center;
  margin: 32px 32px 18px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.project-item {
  text-align: center;
  background-color: #282a2bbf;
  border-radius: 15px;
  overflow: hidden;
  width: 276px;
  height: 257px;
  cursor: pointer;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.grid-image {
  width: 256px;
  height: 144px;
  object-fit: cover;
  object-position: top;
  margin: 10px 0 0;
  border-radius: 10px;
}

button {
  cursor: pointer;
  margin: 2px 4px;
  font-size: 17px;
  color: white;
  background-color: #282a2bbf;
  padding: 8px;
  border-radius: 4px;
  border: none;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.menu-button {
  cursor: pointer;
  color: white;
  background-color: #282a2bbf;
  padding: 8px;
  border-radius: 4px;
  animation: fadeIn 1s forwards;
  transition:
    background-color 1s ease,
    color 1s ease;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 6px solid #282a2b;
  border-top: 6px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spacer {
  width: 100%;
  border-bottom: 1px solid #ffffff13;
  margin: 8px 0;
}

.switcher-modal {
  height: 400px;
  width: min(calc(100vw - 48px), 400px);
  background-color: #282a2b80;
  border-radius: 2px;
  padding: 16px;
  transition:
    background-color 1s ease,
    fill 1s ease;
}

.light-mode .switcher-modal {
  background-color: #ffffff80;
}

.switch-container {
  overflow-y: auto;
  height: calc(100% - 32px);
}

.switcher-input {
  margin: 0 0 4px;
}

.switcher-item {
  margin: 0 0 4px;
  padding: 4px;

  &:hover {
    background-color: #31343580;
  }
}

button:active,
.project-item:active,
.menu-button:active {
  background-color: #ffffff13;
}

.light-mode .spacer,
.light-mode button:active,
.light-mode .project-item:active,
.light-mode .menu-button:active {
  background-color: #00000013;
}

input {
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #3d3d3d40;
}

.light-mode input {
  background-color: #5b5b5b40;
}

input:focus {
  outline: 1px solid white;
}

a {
  text-decoration: none;
  color: #00a8fc;
}

.medium {
  font-size: 20px;
  margin: 4px;
}

.small {
  margin: 8px 0;
}

.text-small {
  color: #fff;
  font-size: 10px;
  text-align: left;
}

.text-medium {
  color: #fff;
  height: 19px;
  margin: 0;
}

.text-medium-grey {
  color: #a9a9a9;
  font-size: 12px;
  height: 19px;
  margin: 0;
}

.title {
  font-size: 36px;
  margin-top: 12px;
  animation:
    slideIn 1s forwards,
    fadeIn 1s forwards;
}

.title-small {
  animation: fadeIn 1s forwards;
}

.title-sub {
  font-size: 24px;
}

.title-menu {
  font-size: 36px;
}

@keyframes slideIn {
  0% {
    margin-top: 12px;
  }
  100% {
    margin-top: 48px;
  }
}

@keyframes slideIn-menu {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 16px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-small,
.switcher-item,
p,
label,
input,
.menu,
.small-menu,
.navbar {
  transition:
    background-color 1s ease,
    color 1s ease;
}

.light-mode svg {
  fill: black;
}

.light-mode input,
.light-mode .icon-mobile,
.light-mode button,
.light-mode .menu-button,
.light-mode .text-small,
.light-mode p,
.light-mode label,
.light-mode .navbar a,
.light-mode .switcher-item {
  color: black;
}

.light-mode input,
.light-mode .menu,
.light-mode .small-menu,
.light-mode button,
.light-mode .menu-button,
.light-mode .project-item,
.light-mode .navbar {
  background-color: rgba(255, 255, 255, 0.6);
  transition:
    background-color 1s ease,
    color 1s ease;
}

